body, header, ul, h3, h4, h5, hr, span, p{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
.border_hed{
	background-color: #1b5589;
}
header{
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
ul{
	list-style-type: none;
}
ul li{
	display: inline-block;
	padding: 5px 0px;
}
header ul li a{
	text-decoration: none;
	color: #d3d3d3;
	margin-right: 10px;
}
a:hover{
	text-decoration: none;
}
header ul li a:hover{
	color: #fff;
}
header ul li:nth-child(1) a:before{
	content: '';
	background-image: url(../img/icon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 54px;
	height: 54px;
	display: inline-block;
	vertical-align: middle;
}
header img{
	width: 54px;
	height: 54px;
	margin: auto 0 auto	auto;
	cursor: pointer;
}
h3, h4{
	text-align: center;
	font-weight: 400;
	padding: 20px 0px;
}
.box1{
	border: 1px solid #e8e8e8;
	border-radius: 3px;
}
.box1 ul li:nth-child(1){
	font-weight: bold;
}
.box1 ul li:nth-child(2){
	color: gray;
	float: right;
}
.box1 ul li{
	padding: 0;
}
.border_box{
	border-bottom: 1px solid #e8e8e8;
}
.otstyp{
	padding: 15px 20px;
}
.giper-block{
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0px;
	border: none;
	padding: 5px 0px;
	border-radius: 4px;
	color: #fff;
}
.giper-col1{
	background-color: #6c757d;
}
.giper-col2{
	background-color: #f8f9fa;
	color: black;
}
.giper-col1:hover{
	color: #fff;
}
.giper-col2:hover{
	color: black;
}
p img{
	width: 32px;
	height: 32px;
}
.box_1{
	text-align: right;
}
.box_2{
	text-align: center;
}
.box_3{
	text-align: left;
}
.box_1 p, .box_3 p{
	margin-bottom: 20px;
}
.box_2 p{
	margin-bottom: 14px;
	display: inline-block;
  position: relative;
}
.box_1 p span{
	border-left: 1px solid #e8e8e8;
}
.box_3 p span{
	border-right: 1px solid #e8e8e8;
}
.box_1 p span, .box_3 p span{
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 0px 15px;
	display: inline-block;
  position: relative;
}
.box_2 span{
	font-weight: bold;
	font-size: 18px;
}
.box_1 span::before{
	content: '';
	position: absolute;
  right: -9px;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #e8e8e8;
	border-width: 0 1px 1px 0;
	transform: rotate(-45deg);
}
.box_3 span::before{
	content: '';
	position: absolute;
	left: -9px;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #e8e8e8;
	border-width: 0px 1px 1px 0px;
	transform: rotate(135deg);
}
.active-link{
	color: #fff;
}